
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CallBack</title>
</head>
<body>
    购买成功...
    @ViewData["data"]
</body>
</html>
